body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

nav a {
    padding: 10px;
    background: #333;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    background: blue;
}
