body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    color: #0d47a1;
}

p, li {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px gray;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    background-color: #1976d2;
    color: white;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

nav a:hover {
    background-color: #0d47a1;
}

a {
    color: #1976d2;
    font-weight: bold;
}

a:hover {
    color: #0d47a1;
}

hr {
    border: 1px solid #ddd;
}

ul {
    margin-left: 30px;
}

